<div class="input-group">
  <input class="form-control" placeholder="{{placeholder}}" name="KcDatePicker" ngbDatepicker
      #KcDatePicker="ngbDatepicker" (dateSelect)="dateSelectEvent()" (blur)="onBlur($event)"
      [ngClass]="{'has-error-input has-error': !isValidDate }" [(ngModel)]="model.value" (keyup)="onKeypressEvent()">  
      <button class="btn btn-default" (click)="KcDatePicker.toggle()" type="button">Date</button>
</div>
<span *ngIf="!isValidDate" class="has-error-message">Please enter a valid date.</span>